<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table border="1">
    <tr>
        <td>ID:</td>
        <td th:text="${user.id}">[id]</td>
    </tr>
    <tr>
        <td>First Name:</td>
        <td th:text="${user.name}">[name]</td>
    </tr>
    <tr>
        <td>Second Name:</td>
        <td th:text="${user.surname}">[surname]</td>
    </tr>
    <tr>
        <td>Age:</td>
        <td th:text="${user.age}">[age]</td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td th:text="${user.phoneNumber}">[phoneNumber]</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td th:text="${user.password}">[password]</td>
    </tr>
    <tr>
        <td>Roles:</td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.name} + ' '">[role]</span>
        </td>
    </tr>
</table>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>